@using(Html.BeginForm("Upload","UploadFile",FormMethod.Post,new { enctype="multipart/form-data"}))
{
    <body>
        <section class="vh-100" style="background-color: #ccd2db;">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-9">
                        <div class="card" style="border-radius: 2px; height:50rem; ">
                            <div class="card-header">
                                <h1 class="text-center text-black mb-10px">Inspection Request Form</h1>

                            </div>
                            <div class="card-body">
                                <div class="row align-items-center py-3">

                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Full name</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input type="text" class="form-control form-control-lg" placeholder="Full Name" />
                                    </div>
                                </div>
                                <hr class="mx-n3">

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Email address</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="email" name="toEmail" class="form-control form-control-lg" placeholder="example@example.com" />

                                    </div>
                                </div>

                                <hr class="mx-n3">

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Upload CV</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control form-control-lg" id="formFileLg" name="fileToAttach" type="file" />
                                        <div class="small text-muted mt-2">
                                            Upload your CV/Resume or any other relevant file. Max file
                                            size 50 MB
                                        </div>

                                    </div>
                                </div>
                                <hr class="mx-n3">

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Description</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" class="form-control form-control-lg" placeholder="Inspection Request Details" />

                                    </div>
                                </div>

                                <hr class="mx-n3">

                                <div class="px-5 py-4">
                                    <button type="submit" value="Send Email" class="btn btn-primary btn-lg">Send application</button>
                                </div>

                            </div>
                            <div class="card-footer">
                                <p>
                                    Prosper Fire Department   1500 E. First Street Prosper, Texas 75078
                                    972-347-2424 Phone    972-347-3010 Fax  www.prospertx.gov
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </body>
    @* <div class="row">
        <div class="form-control  col-md-4">
            <input type="email" class="form-control" name="toEmail" />
        </div>
        <div class="form-control  col-md-4">
            <input type="file" class="form-control" name="fileToAttach" />
        </div>
        <div class="form-control  col-md-4">
            <input type="submit" value="Send Email" class="btn btn-success" />
        </div>
    </div> *@
    
}
@if(ViewBag.emailsentmessage !=null)
{
    <div class="bg-success">
        <label>
            @ViewBag.emailsentmessage
        </label>
    </div>
}
