@model LoginVM
@{
    ViewData["Title"] = "LoginPage";
    Layout = "~/Views/Shared/_Layout_R.cshtml";
}

<form method="post">
    <h3 class="text-muted mb-1 text-center" style="font-size:20px;">Create An Account</h3>
    <br />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label class="mb-2" asp-for="Email"></label><span class="text-danger">*</span>
        <input type="email"id="email" class="form-control" asp-for="Email" autocomplete="email" placeholder="Enter email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2" asp-for="Password"></label><span class="text-danger">*</span>
        <input type="Password" id="password" class="form-control" asp-for="Password" placeholder="Enter Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="mb-2">
            <input type="checkbox" id="rememberMe" asp-for="RememberMe"? />Remember Me
        </label>
    </div>
    <div class="float-end">
        <button type="submit" id="btnLogin" class="btn btn-primary m-2">LogIn</button>
    </div>
</form>
@section scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/js/site.js"></script>
}

